%div.wapper
  %div.chat-side
    %div.side-header
      %div.side-header__box
        %p user1
        %ul.side-header__box__menu
          %li.side-header__box__menu__create-group
            = link_to '#' do
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            = link_to '#' do
              %i.fa.fa-cog
    %div.groups
      = render 'group', groups: [{name: "group1", message: "まだメッセージはありません"}, {name: "group2", message: "no message"}]
